* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    font-family: 'Raleway', sans-serif;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  html {
    font-size: 62.5%;
  }
  button {
    all: unset;
    cursor: pointer;
  }
  /* HEADER */

main{
  overflow-x: hidden !important;
}
 nav a {
    text-align: center;
    position: relative;
    transition: 0.5s;
    padding: 0.5rem;
}

nav a::before,
nav a::after {
    content: '';
    position: absolute;
    width: 0em;
    height: 0em;
    background-color: gainsboro;
    border-radius: 0%;
    transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
    top: calc(50% - 0.6em / 2);
}

nav a::before {left: 0; z-index: -1;}
nav a::after {right: 0; z-index: -2;}

nav a:hover {
    color: white;
}

nav a:hover::before,
nav a:hover::after {
    width: 120%;
    height: 110%;
    border-radius: 0;
    background-color: dodgerblue;
}

nav a:hover::before {
    top: 0;
}

nav a:hover::after {
    right: -0.4em;
    filter: brightness(0.8);
}

  nav {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    top: 0;
    color: rgb(49,128,183);
    letter-spacing: 1px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14vh;
    padding: 3vh 3% 3vh 3%;
    width: 100%;
    background-color: white;
    z-index: 10;
    box-shadow: 0px 4px 4px rgba(19, 20, 20, 0.6);
    max-width: 100vw;
  }
nav .logo img{
    height: 5vh;
}
#PRODUCTOS{
  font-weight: 700;
}
  nav > ul {
    display: flex;
    justify-content: space-around;
    width: clamp(700px,40%,40%);
    min-width: 500px;
    font-size: 1.8rem;
    align-items: center;
   
  }
  nav ul button {
    text-decoration: none;
  }
  nav ul img{
    height: 27.5px;
  }

  nav .burger div {
    height: 3px;
    width: 25px;
    margin: 5px;
    background-color: black;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .burger {
    display: none;
    cursor: pointer;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line2 {
    opacity: 0;
  }
  
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  /* --------------Banner IMG ----------------- */

  .mainImg{
    display: flex;
    background-size : cover;
    height: 86vh;
    margin-top: 14vh;
  }
  
  .mainImg .izq{
      background-color: rgb(50,128,187);
      width: 50vw;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .mainImg .der{
    background: url(../img/img_1687.jpg) no-repeat center top;
    background-size: cover ;
    width: 50vw;
    height: 100%;
}
  .mainImg .banner{
    background-color: rgb(35, 80, 114);
    opacity: 70%;
    width: 18vw;
    height: 100%;
  
   
  }

.title {
    margin: auto;
    

}

  .mainImg .line{
    height: 2px;
    width: 100px;
    background-color: rgb(229,230,230);
    margin-top: 3.5vh;
    margin-bottom: 3vh;
    margin-left: 3px;
    
    
    
  }
  h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 8rem;
    line-height: 8rem;
    
  
  }

  
.mainImg button{
  padding: 2rem;
}
.mainImg .container {
 display: flex;
 justify-content: center;
 align-items: center;
 height: fit-content;
 position: absolute;
 bottom: 5%;
 /* position the top  edge of the element at the middle of the parent */
 left: 50%; /* position the left edge of the element at the middle of the parent */

 transform: translateY(-50%); /* This is a shorthand of
                                      translateX(-50%) and translateY(-50%) */
 padding-bottom: 8rem;
}

.mainImg .chevron {
  position: absolute;
  width:calc(1rem * 3.5);
  height: calc(1rem * 0.8);
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: white;
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY(calc(1rem * 3.8));
 }
 66.6% {
  opacity: 1;
  transform: translateY(calc(1rem* 5.2));
 }
 100% {
  opacity: 0;
  transform: translateY(calc(1rem * 8)) scale(0.5);
 }
}
/* ------- items compromiso----------- */
/* .containerItems{
  padding-bottom: 10vh;
}
.itemCont{

    display:grid;
    grid-template-columns: 24vw 60vw;
    grid-template-rows: auto fit-content auto;
    grid-template-areas:
    "one two"
    "one three"
    "one four";
    position: relative;

    margin: 1vh 6vw;
    border-bottom: 2px solid rgb(61,198,242) ;
    padding-bottom: 6vh;
    margin-top: 6vh;
}

.itemCont img {
    width: 22vw;
    height: auto;
    grid-area: one;

}
.itemCont > div {
    padding-left: 3vw;
}

.itemCont h3{
    font-size: 4rem;
    grid-area: two;
}
.itemCont p{
    font-size: 1.8rem;
    padding-top: 1rem;
    grid-area: three;
    margin-bottom: 2.5rem;

}
.itemCont span{
    position: absolute;
    bottom: 0%;
    font-size: 1.8rem;
    font-weight: 700;
    grid-area: four;
}
.item{
    margin-right: 2vw;
}
.itemCont a {
    font-weight: 400;
} */
/* -------------------- Productos--------------- */
h3{
  font-size: 4.6rem;
  color: rgb(50,128,187);
  font-weight: 400;
text-align: center;
padding: 14vh 0;
}
.one{
  grid-area: one;
}
.two{
  grid-area: two;
}
.three{
  grid-area: three;
}
.four{
  grid-area: four;
}
.spacer, .mobile1{
  height: 40px;
  width: 100vw;
  background-color: white;
  grid-area: spacer;
  margin-left: -10vw;
overflow-x: hidden;}


.mobile1,.mobile2,.mobile3{
  height: 40px;
  width: 100vw;
  background-color: white;
  grid-area: spacer;
  margin-left: -10vw;
overflow-x: hidden;
display: none;
}
.mobile1{
  grid-area: mobile1;
}
.mobile2{
  grid-area: mobile2;
}
.mobile3{
  grid-area: mobile3;
}
.grid {
  overflow-x: hidden;
  display: grid;
  width: 100%;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-template-rows: clamp(500px,50vh,50vh);
  grid-template-areas:
    "one two three four"
    "spacer spacer spacer spacer";
    background-color: rgb(229,230,230);
    padding: 1vh 10vw 0 10vw;
}

.card .img{
  
  height: 50%;
  width: 100%;
  margin-bottom: 3vh;
  background: url(../img/siliconrepe.JPG) no-repeat center top;
    background-size: cover ;
}
.card #klsg4l{
  background: url(../img/KLS-G-4-L.png);
  background-size: cover ;
}

.card #klsg4l{
  background: url(../img/KLS-G-4-L.png);
  background-size: cover ;
}
.card #klsg4le{
  background: url(../img/KLS-G-4-LE.png);
  background-size: cover ;
}
.card #klsg4lt{
  background: url(../img/KLS-G-4-LT.png);
  background-size: cover ;
}
.card #klsg4r{
  background: url(../img/KLS-G-4-R.png);
  background-size: cover ;
}
.card #klsg4{
  background: url(../img/KLS-G-4.png);
  background-size: cover ;
}
.card #klsg26{
  background: url(../img/KLS-G-26.png);
  background-size: cover ;
}

.card #klsg115{
  background: url(../img/KLS-G-115.png);
  background-size: cover ;
}
.card #klsg115v{
  background: url(../img/KLS-G-115V.png);
  background-size: cover ;
}
.card #klsg171{
  background: url(../img/KLS-G-171.png);
  background-size: cover ;
}
.card .klsg202{
  background: url(../img/KLS-G-202-y-KLS-G-637.png);
  background-size: cover ;
}
.card #klsg411{
  background: url(../img/KLS-G-411.png);
  background-size: cover ;
}
.card #ms21{
  background: url(../img/MS-21-R.png);
  background-size: cover ;
}
.card #ms22{
  background: url(../img/MS-22.png);
  background-size: cover ;
}
/* .grid {
  overflow-x: hidden;
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: auto ;
  grid-template-areas:
    "one"
    "mobile1"
    "two"
    "mobile2"
    "three"
    "mobile3"
    "four"
    "spacer";
    background-color: rgb(229,230,230);
    padding: 5vh 10vw 0 10vw;
} */
.card{
  width: 18vw;
  height: 85%;
  
  background-color: white;
  margin:8%  auto ;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.4); 
}

.txtc{
  margin: 2rem;

}

.card .usp{
  background: url(../img/usp.jpg) no-repeat center;
  background-size: cover ;
}
.card .polvo{
  background: url(../img/polvo.jpg) no-repeat center;
  background-size: cover ;
}
.spacer, .mobile{
  height: 40px;
 
  background-color: white;
}



div:nth-child(2) h4{
  font-size: 2rem;
  line-height: 2rem;
  
}

div:nth-child(2) p{
  font-size: 1.2rem;
  margin-top: 1rem;
  
}
#princip{
  font-size: 1rem;
}

#vermas button{
  display: block;
  width: 100%;
  text-align: right;
color:rgb(50,128,187) ;
font-weight: 700;
font-size: 1.2rem;
}
/* ------------------certificado-------------- */


.iso9001{
  height: fit-content;
  width: 100%;
  padding: 7vh 0 7vh 0;
}

.iso9001 button{
  background-color: rgb(50,128,187);
  display: block;
  margin: auto;
  font-size: 3rem;
  color: white;
  padding: 2.5rem 4rem;
  margin-bottom: 5vh;
border-radius: 40px;
  font-weight: 700;
  
}
/* ------- FOOTER------------- */


footer{
  background-color: rgb(65,64,66);
  display: grid;
  grid-template-columns: 0.9fr 1fr 1fr;
  grid-template-rows: 300px;
  justify-content:end ;
  align-content: space-around;
  height: 400px;
  color: white;
  font-size: 1.4rem;
}
/* footer section {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */
footer section{
font-size: 1.8rem;
}
footer  section h5{
font-size: 1.85rem;
}
footer section div{
display: flex;
flex-direction: column;
}
footer .menu{
  /* padding: 10% 5% 10% clamp(10px,20%,20%);
  padding-bottom: clamp(10px,10vh,10vh);
  min-width:fit-content; */
  font-weight:600;
  font-size: 1.9rem;
  line-height: 3.2rem;
  margin: auto;
}



footer .contacto1{
display: flex;
  justify-content:space-between;
  flex-direction: column;
  height: 100%;
  padding-left: 5vw;
  

}
footer .planta{
transform: translateY(-70%);
}

.contacto2{

margin-left: 8%;
height: 80%;
}

#mailfoo{
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
}
.logoyredes div{
margin: auto;
position: relative;
top: -25%;
left: 4%;
}
.logoyredes div a{
margin-right: 5px;
}

footer .logo #logoblanco {
height: 50px;
margin-top: -10%;

}
footer .logo{
margin-left: 0;
margin-top: -10%;
}

.contacto2{
margin: 0;
display: flex;
justify-content:space-between;
  flex-direction: column;
  
  padding-left: 0vw;
  
}






 /* ----------MEDIA QUERY------------- */
 @media (max-width: 1200px) {
  nav button {
      font-size: 1.4rem;
  }
  .redes img{
      height: 20px;
  }
  .tablet{
    width: 100vw;
    background-color: white;
    grid-area: tablet;
    display: block;
    height: 100px;
  }
  .grid {
    overflow-x: hidden;
    display: grid;
    width: 100%;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 600px 200px 600px 100px;
    grid-template-areas:
      "one two"
      "tablet tablet"
      "three four"
      "spacer spacer";
      background-color: rgb(229,230,230);
      padding: 5vh 10vw 0 10vw;
  }
  .card{
    width: 30vw;
    height: 85%;
    
    background-color: white;
    margin:8%  auto ;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.4); 
  }
  .spacer, .mobile1{
    height: 100px;
    width: 100vw;
    background-color: white;
    grid-area: spacer;
    margin-left: -10vw;
  overflow-x: hidden;}

  footer .menu{
    display: none;
   }
   footer{
    background-color: rgb(65,64,66);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    justify-content:end ;
    align-content: space-around;
    height: 500px;
    color: white;
    font-size: 1.2rem;
  }
  
}

@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  body > * {
      max-width: 100vw;
  }
.links {
    min-width: 0;
  }
  nav h1 {
    font-size: 2rem;
  }
  nav .logo img{
    height: 4vh;
    max-width: 200px;
  }
.links {
    position: absolute;
    right: 0;
    top: 14vh;
    height: 90vh;
    padding-bottom: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    box-shadow: 0px 7px 7px rgba(19, 20, 20, 0.6);
    align-content: center;
    font-size: 1.8rem;
  }
  .links li {
    opacity: 0;
    align-self: center;
    font-size: 1.6rem;
  }
  .burger {
    display: block;
  }

  .mainImg{
    height: 50vh;
    
    margin-top: 14vh;
    }
    
      .mainImg .container{
        display: none;
      }
    
    .mainImg .banner{
      
      height: 50vh;
      width: 65vw;
      display: flex;
     
    }
    
    .title{
      margin-top: 10vh;
    }
    .title h1{
      font-size: 3.4rem;
      line-height:3.4rem;
      margin-left:2rem;
    }
    .mainImg .line{
      margin-top: 2vh;
      margin-bottom: 3vh;
      margin-left: 2.3rem;
      
      
      
    }
  

/* --------------Banner IMG ----------------- */


.mobile1{
  height: 80px;
  width: 100vw;
  background-color: white;
  grid-area: mobile1;
  margin-left: -5vw;
overflow-x: hidden;
display: block;
}
.mobile2{
  height: 80px;
  width: 100vw;
  background-color: white;
  grid-area: mobile2;
  margin-left: -5vw;
overflow-x: hidden;
display: block;
}
.mobile3{
  height: 80px;
  width: 100vw;
  background-color: white;
  grid-area: mobile3;
  margin-left: -5vw;
overflow-x: hidden;
display: block;
}
.spacer{
  margin-left: -5vw;
}
.grid {
  overflow-x: hidden;
  display: grid;
  width: 100%;
  grid-template-columns: 90vw;
  grid-template-rows: auto;
  grid-template-areas:
    "one"
    "mobile1"
    "two"
    "mobile2"
    "three"
    "mobile3"
    "four"
    "spacer";
    background-color: rgb(229,230,230);
    padding: 5vh 5vw 0 5vw;
}
.card{
  width: 60vw;
  height: 500px;
  
  background-color: white;
  margin:8%  auto ;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.4); 
}
.card h4{
  font-size: 1.2rem;
}

.card p{
  font-size: 1rem;
}
/* .mainImg{
  background: url(../img/imgnuestraempresa.jpg) no-repeat cover ; 
background-size : cover;
height: 50vh;
margin-bottom: 20vh;
}
.mainImg img{
  width: 100vw;
  max-width: 100%;
  
}
.mainImg .banner{
  height: 110%;
  z-index: 2;
  width: clamp(250px,30vw,30vw);
  margin-left: 10vw;
}
.mainImg .line{
  height: 3px;
  width: 45px;
  margin-bottom: 1rem;
}

.mainImg .container{
  bottom: 50%;
  display: none;
} */

.title{
  margin-top: 10vh;
}
.title h1{
  font-size: 3.4rem;
}

/* -------------- cont items -------------- */
.containerItems{
  padding-bottom: 10vh;
}
.itemCont{

    display:grid;
    grid-template-columns: 86vw;
    grid-template-rows: 10vh fit-content fit-content auto;
    grid-template-areas:
    "two "
    "one "
    "three "
    "four ";
    position: relative;

    margin: 1vh 6vw;
    border-bottom: 2px solid rgb(61,198,242) ;
    padding-bottom: 6vh;
    margin-top: 6vh;
}

.itemCont img {
    width: 35vw;
    height: auto;
    grid-area: one;
    margin: 0 auto;
    padding-top: 2vh;
    padding-bottom: 2vh;

}
.itemCont > div {
    padding-left: 3vw;
}

.itemCont h3{
    font-size: 4rem;
    grid-area: two;
}
.itemCont p{
    font-size: 1.6rem;
    padding-top: 1rem;
    grid-area: three;
    margin-bottom: 5rem;

}
.itemCont span{
    position: absolute;
    bottom: 0%;
    font-size: 1.6rem;
    font-weight: 700;
    grid-area: four;
}
.item{
    margin-right: 2vw;
}
.itemCont a {
    font-weight: 400;
}
/* ---------------- footer--------------- */
/* ---------------- footer--------------- */
footer{
  background-color: rgb(65,64,66);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 180px;
  justify-content:end ;
  align-content: space-around;
  height: 220px;
  color: white;
  font-size: 1.2rem;
}
footer .contacto1 h5{
  font-size: 1rem;
}
footer .contacto1 span{
  font-size: 0.8rem;
}

footer .contacto2 h5{
  font-size: 1rem;
}
footer .contacto2 span{
  font-size: 0.8rem;
}
footer .logo #logoblanco{
  height: 17px;
}
}












@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translatex(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes one {
  100% {
    transform: rotate(360deg);
  }
}

.nav-active {
  transform: translateX(0%);
}